* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
}

p {
    margin: 5px;
}

/* Navbar */

header {
    width: 100%;
    height: 100px;
    background-color: #1F2937;
    padding: 20px;
}

.navbarcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    width: 50px;
}

.navbarcontainer ul {
    display: flex;
    align-items: center;
}

.navbarcontainer li {
    margin: 0 15px;

}

/* Hero section */

.section1 {
    background-color: #1F2937;
    margin-bottom: 50px;
}

.section1-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 100px;

}

.hero-section-left {

    
    align-items: center;
    justify-content: space-between;
    
    
}

.hero-section-left h1 {
    color: #f9faf8;
    font-weight: bold;
    font-size: 48px;

}

.hero-section-left p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section-left button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px;
    border-style: none;
    width: auto;
    
}

.hero-section-right img {
    width: auto;
    height: 300px;
}

.section2-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 50px;
}

.section2-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}


.section3-container {
    
    padding: 30px;
    
    
    margin: auto;
    width: 1100px;
}

.image-container img {
    height: auto;
    width: 100px;
    border: solid #3882f6 2px;
    border-radius: 8px;
}


.image-container, .description-container {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: 50px;
    
    
}

.quote-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: #e5e7eb;
}

.quote-container h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.island-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.island {
    height: 150px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    border-style: none;
}

.island-left {
    
    justify-content: space-around;
    align-items: center;
}

.island-left h2 {
    color: #f9faf8;
    size: 24px;
}

.island-left p {
    color: #f9faf8;
    size: 18px;
}

.island-right button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border-style: solid;
    border-color: #f9faf8;
    width: auto;
    padding: 10px;

}

.footer-container {
    display: flex;
    background-color: #1F2937;
    margin: auto;
    height: 200px;
    width: 100%;
}

.copyright {
    margin: auto;
    color: #e5e7eb;
    size: 18px;
}




